@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

body {
    text-align: center;
    background-color: rgb(163, 163, 163);
    /* color: #4f4646; */
}

h1 {
    font-family: "Jersey 15", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}